{% extends 'core/base.html' %}

{% load humanize %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column is-12">
            <h1 class="title">Follows of {{user.username}}</h1>
            <p> Number : {{user.jitterprofile.followed_by.count}}</p>
        </div>
    </div>
    <div class="columns">
        <div class="column is-8">
            {% for jitter in user.jitterprofile.follow.all %}
                <p><a href="{% url 'jitterprofile' jitter.user.username %}">{{jitter.user.username}}</a></p>
            {% empty %}
                {% if request.user == user %}
                    <p>Looks like you don't follow anyone!</p>
                {% else %}
                    <p>{{user.username}} isn't following anyone.</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}